@import "https://res.cloudinary.com/finnhvman/raw/upload/matter/matter-0.2.2.min.css";

html {
  background: #001529;
}
body {
  --bg: #162f45;
  background: var(--bg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Ubuntu', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  color: #595959;
  font-weight: 300;
  margin-left: 80px;
  width: calc(100vw - 80px);
  min-width: 750px;
}

body main {
  padding:0px ;
}

@media (max-height: 850px) {

  #logo { display: none; }

}
.page-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}


.app-header {
  display: none !important;
}

.panel {
    margin:0px;
    border-radius: 7px; 
    width: 60%;
    height: auto;
}
body>main main.page-body {
  padding: 0 0 0 0;
}

.panel h2 {
  font-weight: 300;
}

input[type="text"] {
  font-weight: 400;
  letter-spacing: 1.3px;
}

input[type="password"] {
  font-weight: 400;
  letter-spacing: 1.3px;
}

.container {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.central-modal {
  width: 80%;
  border: 1px solid yellow;
}

.button {
  font-weight: 400 !important;
}

.auth-bottom {
  display: flex; 
  
}

.auth-bottom-left {
  flex-grow: 1;      
}

.auth-bottom-right {
  line-height: 1.8;
}

.locale-selector {
  width: 60%;
}

.actions-row {
  width: 100%;
  height: 30px;
}

.outside-panel-link {
    float: right;
  padding-left: 10px;
  padding-right: 10px;
    padding-top: 5px;
}

.outside-panel-link a {
    color: white !important;
}

.left { float: left; }
.right {float: right; }

.matter-textfield-outlined {
    --matter-helper-theme: var(--ems-theme-primary);
    --matter-helper-safari1: rgba(var(--matter-onsurface-rgb, 0, 0, 0), 0.38);
    --matter-helper-safari2: rgba(var(--matter-onsurface-rgb, 0, 0, 0), 0.6);
    --matter-helper-safari3: rgba(var(--matter-onsurface-rgb, 0, 0, 0), 0.87);
    position: relative;
    display: inline-block;
    padding-top: 6px;
    font-family: var(--matter-font-family, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    line-height: 1.5;
}

/* Input, Textarea */
.matter-textfield-outlined > input,
.matter-textfield-outlined > textarea {
    box-sizing: border-box;
    margin: 0;
    border-style: solid;
    border-width: 1px;
    border-color: transparent var(--matter-helper-safari2) var(--matter-helper-safari2);
    border-radius: 4px;
    padding: 15px 13px 15px;
    width: 100%;
    height: inherit;
    color: rgba(var(--matter-onsurface-rgb, 0, 0, 0), 0.87);
    -webkit-text-fill-color: currentColor; /* Safari */
    background-color: transparent;
    box-shadow: inset 1px 0 transparent, inset -1px 0 transparent, inset 0 -1px transparent;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    caret-color: var(--matter-helper-theme);
    transition: border 0.2s, box-shadow 0.2s;
}

.matter-textfield-outlined > input:not(:focus):placeholder-shown,
.matter-textfield-outlined > textarea:not(:focus):placeholder-shown {
    border-top-color: var(--matter-helper-safari2);
}

/* Span */
.matter-textfield-outlined > input + span,
.matter-textfield-outlined > textarea + span {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    max-height: 100%;
    color: rgba(var(--matter-onsurface-rgb, 0, 0, 0), 0.5);
    font-size: 75%;
    line-height: 15px;
    cursor: text;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

.matter-textfield-outlined > input:not(:focus):placeholder-shown + span,
.matter-textfield-outlined > textarea:not(:focus):placeholder-shown + span {
    font-size: inherit;
    line-height: 68px;
}

/* Corners */
.matter-textfield-outlined > input + span::before,
.matter-textfield-outlined > input + span::after,
.matter-textfield-outlined > textarea + span::before,
.matter-textfield-outlined > textarea + span::after {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-top: 6px;
    border-top: solid 1px var(--matter-helper-safari2);
    min-width: 10px;
    height: 8px;
    pointer-events: none;
    box-shadow: inset 0 1px transparent;
    transition: border 0.2s, box-shadow 0.2s;
}

.matter-textfield-outlined > input + span::before,
.matter-textfield-outlined > textarea + span::before {
    margin-right: 4px;
    border-left: solid 1px transparent;
    border-radius: 4px 0;
}

.matter-textfield-outlined > input + span::after,
.matter-textfield-outlined > textarea + span::after {
    flex-grow: 1;
    margin-left: 4px;
    border-right: solid 1px transparent;
    border-radius: 0 4px;
}

.matter-textfield-outlined > input:not(:focus):placeholder-shown + span::before,
.matter-textfield-outlined > textarea:not(:focus):placeholder-shown + span::before,
.matter-textfield-outlined > input:not(:focus):placeholder-shown + span::after,
.matter-textfield-outlined > textarea:not(:focus):placeholder-shown + span::after {
    border-top-color: transparent;
}

/* Hover */
.matter-textfield-outlined:hover > input,
.matter-textfield-outlined:hover > textarea {
    border-color: transparent var(--matter-helper-safari3) var(--matter-helper-safari3);
}

.matter-textfield-outlined:hover > input + span::before,
.matter-textfield-outlined:hover > textarea + span::before,
.matter-textfield-outlined:hover > input + span::after,
.matter-textfield-outlined:hover > textarea + span::after {
    border-top-color: var(--matter-helper-safari3);
}

.matter-textfield-outlined:hover > input:not(:focus):placeholder-shown,
.matter-textfield-outlined:hover > textarea:not(:focus):placeholder-shown {
    border-color: var(--matter-helper-safari3);
}

/* Focus */
.matter-textfield-outlined > input:focus,
.matter-textfield-outlined > textarea:focus {
    border-color: transparent var(--matter-helper-theme) var(--matter-helper-theme);
    box-shadow: inset 1px 0 var(--matter-helper-theme), inset -1px 0 var(--matter-helper-theme), inset 0 -1px var(--matter-helper-theme);
    outline: none;
}

.matter-textfield-outlined > input:focus + span,
.matter-textfield-outlined > textarea:focus + span {
    color: var(--matter-helper-theme);
}

.matter-textfield-outlined > input:focus + span::before,
.matter-textfield-outlined > input:focus + span::after,
.matter-textfield-outlined > textarea:focus + span::before,
.matter-textfield-outlined > textarea:focus + span::after {
    border-top-color: var(--matter-helper-theme) !important;
    box-shadow: inset 0 1px var(--matter-helper-theme);
}

/* Disabled */
.matter-textfield-outlined > input:disabled,
.matter-textfield-outlined > input:disabled + span,
.matter-textfield-outlined > textarea:disabled,
.matter-textfield-outlined > textarea:disabled + span {
    border-color: transparent var(--matter-helper-safari1) var(--matter-helper-safari1) !important;
    color: rgba(var(--matter-onsurface-rgb, 0, 0, 0), 0.38);
    pointer-events: none;
}

.matter-textfield-outlined > input:disabled + span::before,
.matter-textfield-outlined > input:disabled + span::after,
.matter-textfield-outlined > textarea:disabled + span::before,
.matter-textfield-outlined > textarea:disabled + span::after {
    border-top-color: var(--matter-helper-safari1) !important;
}

.matter-textfield-outlined > input:disabled:placeholder-shown,
.matter-textfield-outlined > input:disabled:placeholder-shown + span,
.matter-textfield-outlined > textarea:disabled:placeholder-shown,
.matter-textfield-outlined > textarea:disabled:placeholder-shown + span {
    border-top-color: var(--matter-helper-safari1) !important;
}

.matter-textfield-outlined > input:disabled:placeholder-shown + span::before,
.matter-textfield-outlined > input:disabled:placeholder-shown + span::after,
.matter-textfield-outlined > textarea:disabled:placeholder-shown + span::before,
.matter-textfield-outlined > textarea:disabled:placeholder-shown + span::after {
    border-top-color: transparent !important;
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        .matter-textfield-outlined > input,
        .matter-textfield-outlined > input + span,
        .matter-textfield-outlined > textarea,
        .matter-textfield-outlined > textarea + span,
        .matter-textfield-outlined > input + span::before,
        .matter-textfield-outlined > input + span::after,
        .matter-textfield-outlined > textarea + span::before,
        .matter-textfield-outlined > textarea + span::after {
            transition-duration: 0.1s;
        }
    }
}

.matter-button-contained {
    --matter-helper-theme: var(--ems-theme-primary);
    --matter-helper-ontheme: var(--matter-ontheme-rgb, var(--matter-onprimary-rgb, 255, 255, 255));
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    color: rgb(var(--matter-helper-ontheme));
    background-color: rgb(var(--matter-helper-theme));
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(--matter-font-family, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.matter-button-contained::-moz-focus-inner {
    border: none;
}

/* Highlight, Ripple */
.matter-button-contained::before,
.matter-button-contained::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    opacity: 0;
}

.matter-button-contained::before {
    background-color: rgb(var(--matter-helper-ontheme));
    transition: opacity 0.2s;
}

.matter-button-contained::after {
    background: radial-gradient(circle at center, currentColor 1%, transparent 1%) center/10000% 10000% no-repeat;
    transition: opacity 1s, background-size 0.5s;
}

/* Hover, Focus */
.matter-button-contained:hover,
.matter-button-contained:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.matter-button-contained:hover::before {
    opacity: 0.08;
}

.matter-button-contained:focus::before {
    opacity: 0.24;
}

.matter-button-contained:hover:focus::before {
    opacity: 0.32;
}

/* Active */
.matter-button-contained:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.matter-button-contained:active::after {
    opacity: 0.32;
    background-size: 100% 100%;
    transition: background-size 0s;
}

/* Disabled */
.matter-button-contained:disabled {
    color: rgba(var(--matter-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--matter-onsurface-rgb, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
}

.matter-button-contained:disabled::before,
.matter-button-contained:disabled::after {
    opacity: 0;
}
.matter-textfield-standard {
    --matter-helper-theme: var(--ems-theme-primary);
    position: relative;
    display: inline-block;
    font-family: var(--matter-font-family, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    line-height: 1.5;
}

/* Input, Textarea */
.matter-textfield-standard > input,
.matter-textfield-standard > textarea {
    display: block;
    box-sizing: border-box;
    margin: 0;
    border: none;
    border-top: solid 24px transparent;
    border-bottom: solid 1px rgba(var(--matter-onsurface-rgb, 0, 0, 0), 0.6);
    padding: 0 0 7px;
    width: 100%;
    height: inherit;
    color: rgba(var(--matter-onsurface-rgb, 0, 0, 0), 0.87);
    -webkit-text-fill-color: currentColor; /* Safari */
    background-color: transparent;
    box-shadow: none; /* Firefox */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    caret-color: rgb(var(--matter-helper-theme));
    transition: border-bottom 0.2s, background-color 0.2s;
}

/* Span */
.matter-textfield-standard > input + span,
.matter-textfield-standard > textarea + span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    box-sizing: border-box;
    padding: 7px 0 0;
    color: rgba(var(--matter-onsurface-rgb, 0, 0, 0), 0.6);
    font-size: 75%;
    line-height: 18px;
    pointer-events: none;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Underline */
.matter-textfield-standard > input + span::after,
.matter-textfield-standard > textarea + span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(var(--matter-helper-theme));
    transform-origin: bottom center;
    transform: scaleX(0);
    transition: transform 0.2s;
}

/* Hover */
.matter-textfield-standard:hover > input,
.matter-textfield-standard:hover > textarea {
    border-bottom-color: rgba(var(--matter-onsurface-rgb, 0, 0, 0), 0.87);
}

/* Placeholder-shown */
.matter-textfield-standard > input:not(:focus):placeholder-shown + span,
.matter-textfield-standard > textarea:not(:focus):placeholder-shown + span {
    font-size: inherit;
    line-height: 56px;
}

/* Focus */
.matter-textfield-standard > input:focus,
.matter-textfield-standard > textarea:focus {
    outline: none;
}

.matter-textfield-standard > input:focus + span,
.matter-textfield-standard > textarea:focus + span {
    color: rgb(var(--matter-helper-theme));
}

.matter-textfield-standard > input:focus + span::after,
.matter-textfield-standard > textarea:focus + span::after {
    transform: scale(1);
}

/* Disabled */
.matter-textfield-standard > input:disabled,
.matter-textfield-standard > textarea:disabled {
    border-bottom-color: rgba(var(--matter-onsurface-rgb, 0, 0, 0), 0.38);
    color: rgba(var(--matter-onsurface-rgb, 0, 0, 0), 0.38);
}

.matter-textfield-standard > input:disabled + span,
.matter-textfield-standard > textarea:disabled + span {
    color: rgba(var(--matter-onsurface-rgb, 0, 0, 0), 0.38);
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        .matter-textfield-standard > input,
        .matter-textfield-standard > input + span,
        .matter-textfield-standard > input + span::after,
        .matter-textfield-standard > textarea,
        .matter-textfield-standard > textarea + span,
        .matter-textfield-standard > textarea + span::after {
            transition-duration: 0.1s;
        }
    }
}




:root {
  --ems-theme-primary: #0895c3; /*#0e9785;*/
  --placeholder-color: rgba(91, 106, 119, 1);
  --placeholder-color-up: rgba(151, 175, 197, 1);
  --matter-helper-theme: var(--ems-theme-primary) !important;
}
.panel main {
  padding-bottom: 50px;
}
.right {
  right: 45px;
  float: right;
  position: absolute;
  bottom: 45px;
}
.right p {
  margin: 0;
}
.locale-selector {
  left: 45px;
  float: left;
  position: absolute;
  bottom: 45px;
}
.panel {
  border-radius: 12px !important;
  border-top: unset !important;
  padding: 24px !important;
  padding-bottom: 30px !important;
  will-change: opacity;
  min-height: 365px;
  width: 365px;
  top: 200px;
  zoom: .8;
}
main p {
  color: #fff !important;
  font-size: 15px !important;
  font-weight: 500;
}
main form {
  padding-bottom: 20px;
}
main > .error, main > .info {
  display: block;
}
.panel *:not(img) {
  transition: opacity 500ms ease-in-out;
  opacity: 0;
}
.panel.show *:not(img) {
  opacity: 1;
}
.panel h2 {
  text-align: center;
  display: none;
}
.panel img.logo {
  transition: opacity 0.9s ease 0s;
  position: fixed;
  top: 266px;
  left: max(50% + 35px, 455px);
  width: 350px;
  transform: translate(-50%, -50%);
  color: rgb(204, 204, 204);
  opacity: 1 !important;
  zoom: 1.25;
}
.panel button {
  width: 100%;
  margin-top: 25px;
  background: var(--ems-theme-primary);
}
.panel input {
  color: #fff;
  box-shadow: none !important;
  border-bottom: solid 1px var(--ems-theme-primary) !important;
}
.panel .matter-textfield-standard:hover > input {
  border-bottom-color: var(--ems-theme-primary);
}
.panel .matter-textfield-standard > input + span {
  color: var(--placeholder-color);
  font-weight: 500;
}
.panel .matter-textfield-standard > input:focus + span {
  color: var(--placeholder-color-up);
}
.panel .select {
  margin-left: -1px;
  font-size: 12px;
  font-weight: normal;
  transition: text-shadow 320ms;
}
.panel .select * {
  color: var(--matter-helper-theme) !important;
}
.panel .select:after {
  opacity: 0;
}
.panel .select .lang {
  cursor: pointer;
  color: var(--ems-theme-primary) !important;
}
.panel .select .lang:first-letter {
  text-transform: uppercase;
}
.panel .select .lang:hover {
  text-shadow: 0 0 1px rgba(0,0,0,.5);
  text-decoration: underline;
  text-underline-offset: 5px;
}
.panel .select .lang[selected] {
  text-shadow: 0 0 1px rgba(0,0,0,.3);
  text-decoration: underline;
  text-underline-offset: 5px;
}
.panel a[href] {
  color: var(--ems-theme-primary);
  text-align: right;
  padding-top: 8px;
  font-size: 12px;
  display: block;
}
a[href]:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.error {
  width: 100%;
  text-align: left;
  font-weight: 500;
  color: #EE3E54;
}
.info {
  width: 100%;
  text-align: left;
  font-weight: 500;
  color: white;
}
.progress-bar {
  height: 8px;
  overflow: hidden;
  border-radius: 4px;
}
.progress-bar div {
  height: 8px;
  background: var(--ems-theme-primary);
}
body div.panel {
  background: var(--bg);
  border: none !important;
  box-shadow: none !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0 30px var(--bg) inset !important;
}
